{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('assets/img/top/421077_m.jpg','user_data') }}" alt="" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">{{ 'front.block.eyecatch.title__en'|trans }}</p>
            <p class="ec-eyecatchRole__introTitle">{{ '24時間の営業担当者を格安でご準備'|trans }}</p>
            <p class="ec-eyecatchRole__introDescription">{{ '365日24時間､常に全力で営業に取り組んでくれる営業担当者をあなたの会社にも
'|trans|nl2br }}</p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}?category_id=2">{{ '一覧を見る'|trans }}</a>
        </div>
    </div>
</div>